@page "/Forecast"
<PageTitle>Forecast</PageTitle>

<MudText Class="mb-10 mt-10" Typo="Typo.h3" Align="Align.Center">Forecast</MudText>
<div class="forecast">
    <MudPaper Class="mb-2" Elevation="3">
        <MudCard>
            <MudCardContent>
                <MudText Class="mt-15" Align="Align.Center">Placeholder</MudText>
                <MudText Typo="Typo.body2" Align="Align.Center">Placeholderino</MudText>
            </MudCardContent>
        </MudCard>
    </MudPaper>
</div>


@code {
    

}
