@page "/"
<PageTitle>PATHS Map</PageTitle>
<html>
<head>
    <style>
        h1 {
            padding: 3vh;
            text-align: center;
            border: 3px;
        }
    </style>
</head>
<body>
    <h1>PATHS Map</h1>

</body>
</html>
<MapView Longitude="_longitude" Latitude="_latitude" Zoom="5" Style="height: 85vh; width: 100%;">
    <Map ArcGISDefaultBasemap="arcgis-streets">
    </Map>
</MapView>

@code {
    private readonly double _latitude = 38.512431;
    private readonly double _longitude = -86.797870;
}

<link href="_content/dymaptic.GeoBlazor.Core" />
<link href="_content/dymaptic.GeoBlazor.Core/assets/esri/themes/dark/main.css" rel="stylesheet" />
<link href="YourProject.styles.css" rel="stylesheet" />



