@using PATHSMap.Data
@using PATHSMap
@page "/"



<PageTitle>PATHS Map</PageTitle>
<html>
<head>
    <style>
        h1 {
            padding: 3vh;
            text-align: center;
            border: 3px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
    </style>
</head>
<body>
    <h1>PATHS Map</h1>

</body>
</html>




